<h1>Your To-do Tasks</h1>

<%= link_to 'Create New To-do Task', new_task_path %>
<%= link_to 'Back to Homepage', root_path %>

<h2>Ongoing Tasks</h2>

<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>

    <% @incomplete_tasks.each do |task| %>
        <tr>
            <td><%= task.item %></td>
            <td><%= link_to 'Show', task_path(task) %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Mark as Complete', complete_task_path(task),
                    method: :patch %></td>
            <td><%= link_to 'Destroy', task_path(task),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

<h2>Completed Tasks</h2>

<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>

    <% @complete_tasks.each do |task| %>
        <tr>
            <td><%= task.item %></td>
            <td><%= link_to 'Show', task_path(task) %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Destroy', task_path(task),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>