<p>
    <strong>Item:</strong>
    <%= @task.item %>
</p>

<p>
    <strong>Description:</strong>
    <%= @task.description %>
</p>

<p>
    <strong>Tags:</strong>
   <% @task.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
   <% end %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Back', tasks_path %>