<p>
    <strong>Item:</strong>
    <%= @task.item %>
</p>

<p>
    <strong>Description:</strong>
    <%= @task.description %>
</p>

<p>
    <strong>Tags:</strong>
   <% @tasks.tag_list %>
        <%= link_to tag.name, tag_path(tag) %>
</p>

<p>
    <strong>Due Date:</strong>
    <%= @task.due %>
</p>

<%= link_to 'Mark as Complete', complete_task_path,
                    method: :patch %>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Back', tasks_path %>